<footer>
    <div class="footer" id="contact">
        <div class="footerContainer">
            <h3 class="footerContainer__h3">Quieres saber más? <br>Hablemos...</h3>
            <hr>
            <hr>
            <a class="footerContainer__a" href="tel:+34617680207"><i class="fa-solid fa-phone"
                    style="color: white;"></i>+34 617 680
                207</a><br>
            <a class="footerContainer__a" href="mailto:nico.93nmh@gmail.com"><i class="fa-solid fa-envelope"
                    style="color: white;"></i>nico.93nmh@gmail.com</a><br>
            <span class="footerContainer__span"><i class="fa-solid fa-house" style="color: white;"></i>Vilafranca,
                Barcelona, Spain</span><br>
        </div>
        <div class="footerContainer">
            <form class="form" action="https://formspree.io/f/mgejpjrz" method="POST">
                <p class="form__p">ESTEMOS EN CONTACTO</p>
                <h3 class="form__h3">Contactame</h3>
                <input class="form__input" type="text" name="text" placeholder="NAME">
                <input class="form__input" type="text" name="text" placeholder="MOBILE">
                <input class="form__input" type="email" name="email" placeholder="EMAIL">
                <textarea class="form__textarea" name="message" placeholder="MESSAGE"></textarea>
                <button class="form__btn" type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</footer>